:root {
  --main-color: #e61961;
  --secondary-color: #19a9e6;
  --tertiary-color: #e6c019;
}

body {
  margin: 0;
  background: var(--main-color);
}

h1 {
  margin-top: 0;
}

.page-container {
  margin: 0 auto;
  width: 90%;
  background: white;
  height: 100vh;
}

.triangle {
  background: var(--main-color);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}